/*body{ background: #000; }*/
.hero-unit-danger {
    padding: 60px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
    /*background-color: #eeeeee;*/
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  
  .hero-unit-danger h1 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    color: inherit;
  }


/*.hero-unit-danger {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
  }*/
  
  .hero-unit-danger,
  .hero-unit-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
  }
  
  .hero-unit-danger h4,
  .hero-unit-error h4 {
    color: #b94a48;
  }
